.container {
    max-width: 140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), url("../images/images/barcelona.png"));
    background-repeat: no-repeat;
    background-size: cover;
}